.form-control {
  border: unset;
}
.form-control:focus {
  box-shadow: unset;
}

.back-home-btn {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff5722;
  color: white;
  padding: 15px 20px;
  border-radius: 10px 0 0 10px;
  font-family: var(--main-font-family);
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, background-color 0.3s;
  z-index: 9999;
  opacity: 1; /* مهم جدًا */
}

.back-home-btn:hover {
  background-color: #e64a19;
  transform: translateY(-50%) scale(1.05);
}

.back-home-btn i {
  font-size: 18px;
}
