* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f5f5f5;
}
.faq {
  width: 700px;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.title {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #333333;
}
.faq_item {
  background: #fafafa;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  transition: 0.3s ease;
  border-left: 5px solid #ff5722;
}
.faq_item:hover {
  background: #fff3eb;
  transform: translateX(5px);
}
.question {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 10px;
}
.answer {
  font-size: 15px;
  color: #555555;
  line-height: 1.5;
}

/* Button */
.back-home-btn {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  color: white;
  padding: 15px 20px;
  border-radius: 10px 0px 0px 10px;
  font-family: var(--main-font-family);
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, background-color 0.3s;
  z-index: 9999;
}

.back-home-btn:hover {
  background-color: #e64a19;
  transform: translateY(-50%) scale(1.05);
}

.back-home-btn i {
  font-size: 18px;
}
