/* General CSS */
*,
*::after,
*::before {
  box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a,
span {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.container {
  width: 90%;
  margin: auto;
}

:root {
  --main-font-family: "Open Sans", sans-serif;
  --h2-font-family: "Inter", sans-serif;
  --head-font-family: "Amatic SC", sans-serif;
  --primary-color: #ff5722;
  --primary-font-size: 30px;
  --primary-font-weight: 700;
}

/* Gallery Section */
section.gallery{
  padding-top: 0;
}
.gallery {
  background-color: #eeeeee;
  padding: 0px 20px;
}
.gallery .section-subtitle {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-align: center;
  font-family: var(--main-font-family);
}

.gallery h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: var(--head-font-family);
  font-weight: 400;
}
.gallery .container h2 span {
  color: var(--primary-color);
}

/* Masonry base */
.masonry {
  column-count: 1;
  column-gap: 15px;
}

.item {
  position: relative;
  margin-bottom: 15px;
  break-inside: avoid;
  border-radius: 8px;
  overflow: hidden;
}

.item img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: bottom 0.4s ease;
}

.overlay h3,
.overlay p {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.4s ease;
}

.overlay h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 16px;
  line-height: 1.4;
}

.item:hover .overlay {
  bottom: 0;
}

.item:hover .overlay h3,
.item:hover .overlay p {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 1024px) {
  .masonry {
    column-count: 3;
    column-gap: 15px;
  }
}

.back-home-btn {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  color: white;
  padding: 15px 20px;
  border-radius: 10px 0px 0px 10px;
  font-family: var(--main-font-family);
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, background-color 0.3s;
  z-index: 9999;
}

.back-home-btn:hover {
  background-color: #e64a19;
  transform: translateY(-50%) scale(1.05);
}

.back-home-btn i {
  font-size: 18px;
}

