* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  color: #333333;
}
.user_information {
  width: 500px;
  margin: 40px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
.profile {
  text-align: center;
  margin-bottom: 24px;
}
.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 16px auto;
}

.username {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
}

.email {
  color: #555555;
  margin-bottom: 16px;
  font-size: 14px;
}
.history h3 {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
}
.orders_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.order {
  background: #f0f0f0;
  padding: 16px;
  border-radius: 12px;
}
.order h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}
.order p {
  font-size: 14px;
  margin-bottom: 4px;
  color: #444444;
}
@media (max-width: 400px) {
  .container {
    padding: 16px;
    margin: 20px auto;
  }
  .profile-pic {
    width: 100px;
    height: 100px;
  }
}

.back-home-btn {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  color: white;
  padding: 15px 20px;
  border-radius: 10px 0px 0px 10px;
  font-family: var(--main-font-family);
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, background-color 0.3s;
  z-index: 9999;
}

.back-home-btn:hover {
  background-color: #e64a19;
  transform: translateY(-50%) scale(1.05);
}

.back-home-btn i {
  font-size: 18px;
}
